.radioLeft input {
    text-align: left;
    display: inline;
    margin-left: 1.5rem;
}

fieldset legend {
    margin-left: 2.25rem;
    width: auto;
    font-weight: 600;
    color: black
}

.custom-file-label {
    width: 65%;
}